<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: header"></div>

<body>
<div class="container">
    <div th:if="${group.id == null}"><h1>Create new group</h1></div>
    <div th:unless="${group.id == null}"><h1>Edit group</h1></div>


    <form th:action="@{/groups/save}" th:object="${group}" method="post">
        <input type="hidden" th:field="*{id}" th:value="${group.id}">

        <div class="m-3">
            <div class="form-group row">
                <label for="nameType" class="col-for-label col-sm-4">Название группы: </label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{nameGroup}" class="form-control" id="nameType" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>


<script th:replace="fragments/footer :: scripts"></script>

</body>
</html>