<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: header"></div>
<body>
<div class="container">
    <div><h1>Schedule</h1></div>
    <div th:replace="fragments/nav :: navbar"></div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Группа</th>
                <th>День недели</th>
                <th>Номер пары</th>
                <th>Урок</th>
                <th>Тип урока</th>
                <th>Аудитория</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="schedule: ${listSchedule}">
                <tr>

                    <td>[[${schedule.id}]]</td>
                    <td>[[${schedule.group.nameGroup}]]</td>
                    <td>[[${schedule.weekdayId}]]</td>
                    <td>[[${schedule.lesson.id}]]</td>
                    <td>[[${schedule.subject.nameSubject}]]</td>
                    <td>[[${schedule.typeLesson.nameType}]]</td>
                    <td>[[${schedule.auditorium.numberAud}]]</td>
                    <td>
                        <a class="btn btn-success" th:href="@{/schedule/edit/{id}(id=${schedule.id})}"><i
                                class="fas fa-edit"></i></a>
                        <a class="btn btn-danger" th:href="@{/schedule/delete/{id}(id=${schedule.id})}"><i
                                class="fa fa-trash-alt"></i></a>
                    </td>
                </tr>
            </th:block>
            <tr>
                <td colspan="10" align="center">
                    <a class="badge badge-success" th:href="@{/schedule/new}">Добавить</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>


</div>

<script th:replace="fragments/footer :: scripts"></script>

</body>
</html>