<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/assets/css/style.css" th:href="@{/assets/css/style.css}">
    <title>Schedule Template | CodyHouse</title>
</head>
<body>

<header class="cd-main-header text-center flex flex-column flex-center">
    <h1 th:text=" ${ 'Расписание для ' + group.nameGroup}">Расписание</h1>
    <a class="btn btn-success" th:href="@{/homepage}"><i class="fas fa-arrow-alt-circle-left"></i></a>
</header>


<div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule"
     th:if="${not #lists.isEmpty(listSchedule)}">
    <div class="cd-schedule__timeline">
        <ul>
            <li><span>09:00</span></li>
            <li><span>09:30</span></li>
            <li><span>10:00</span></li>
            <li><span>10:40</span></li>
            <li><span>11:00</span></li>
            <li><span>11:30</span></li>
            <li><span>12:00</span></li>
            <li><span>12:30</span></li>
            <li><span>13:00</span></li>
            <li><span>13:30</span></li>
            <li><span>14:00</span></li>
            <li><span>14:30</span></li>
            <li><span>15:00</span></li>
            <li><span>15:30</span></li>
            <li><span>16:00</span></li>
            <li><span>16:30</span></li>
            <li><span>17:00</span></li>
            <li><span>17:30</span></li>
            <li><span>18:00</span></li>
        </ul>
    </div> <!-- .cd-schedule__timeline -->

    <div class="cd-schedule__events">
        <ul>
            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span>Понедельник</span></div>
                <ul>
                    <th:block th:each="schedule : ${listSchedule}">
                        <th:block th:if="${schedule.weekdayId == 1}">
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 1}">
                                <a data-start="09:00" data-end="10:30"
                                   data-content="event-abs-circuit" data-event="event-4" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p data-event="event-4" th:text="${schedule.typeLesson.nameType}"></p>
                                    <p data-event="event-4" th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 2}">
                                <a data-start="10:40" data-end="12:10"
                                   data-content="event-abs-circuit" data-event="event-1" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p data-event="event-1"
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p  data-event="event-1"
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 3}">
                                <a data-start="12:40" data-end="14:10"
                                   data-content="event-abs-circuit" data-event="event-4" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 4}">
                                <a data-start="14:20" data-end="15:50"
                                   data-content="event-abs-circuit" data-event="event-2" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p data-event="event-2"
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p  data-event="event-2"
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 5}">
                                <a data-start="16:20" data-end="17:50"
                                   data-content="event-abs-circuit" data-event="event-1" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p  data-event="event-1"
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p  data-event="event-1"
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                        </th:block>
                    </th:block>

                </ul>

            </li>

            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span>Вторник</span></div>
                <ul>
                    <th:block th:each="schedule : ${listSchedule}">
                        <th:block th:if="${schedule.weekdayId == 2}">
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 1}">
                                <a data-start="09:00" data-end="10:30"
                                   data-content="event-abs-circuit" data-event="event-2" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p  data-event="event-2"
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p  data-event="event-2"
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 2}">
                                <a data-start="10:40" data-end="12:10"
                                   data-content="event-abs-circuit" data-event="event-1" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p  data-event="event-1"
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p data-event="event-1"
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 3}">
                                <a data-start="12:40" data-end="14:10"
                                   data-content="event-abs-circuit" data-event="event-4" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p  data-event="event-4"
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p data-event="event-4"
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 4}">
                                <a data-start="14:20" data-end="15:50"
                                   data-content="event-abs-circuit" data-event="event-2" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 5}">
                                <a data-start="16:20" data-end="17:50"
                                   data-content="event-abs-circuit" data-event="event-1" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p  data-event="event-1"
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p  data-event="event-1"
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                        </th:block>
                    </th:block>

                </ul>
            </li>

            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span>Среда</span></div>
                <ul>
                    <th:block th:each="schedule : ${listSchedule}">
                        <th:block th:if="${schedule.weekdayId == 3}">
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 1}">
                                <a data-start="09:00" data-end="10:30"
                                   data-content="event-abs-circuit" data-event="event-1" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p  data-event="event-1"
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p  data-event="event-1"
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 2}">
                                <a data-start="10:40" data-end="12:10"
                                   data-content="event-abs-circuit" data-event="event-2" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p data-event="event-2"
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p  data-event="event-2"
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 3}">
                                <a data-start="12:40" data-end="14:10"
                                   data-content="event-abs-circuit" data-event="event-1" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 4}">
                                <a data-start="14:20" data-end="15:50"
                                   data-content="event-abs-circuit" data-event="event-4" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p  data-event="event-4"
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p  data-event="event-4"
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 5}">
                                <a data-start="16:20" data-end="17:50"
                                   data-content="event-abs-circuit" data-event="event-1" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p  data-event="event-1"
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p data-event="event-1"
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                        </th:block>
                    </th:block>

                </ul>

            </li>
            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span>Четверг</span></div>
                <ul>
                    <th:block th:each="schedule : ${listSchedule}">
                        <th:block th:if="${schedule.weekdayId == 4}">
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 1}">
                                <a data-start="09:00" data-end="10:30"
                                   data-content="event-abs-circuit" data-event="event-1" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p  data-event="event-1"
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p  data-event="event-1"
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 2}">
                                <a data-start="10:40" data-end="12:10"
                                   data-content="event-abs-circuit" data-event="event-2" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p  data-event="event-2"
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p  data-event="event-2"
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 3}">
                                <a data-start="12:40" data-end="14:10"
                                   data-content="event-abs-circuit" data-event="event-1" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p  data-event="event-1"
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p  data-event="event-1"
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 4}">
                                <a data-start="14:20" data-end="15:50"
                                   data-content="event-abs-circuit" data-event="event-2" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 5}">
                                <a data-start="16:20" data-end="17:50"
                                   data-content="event-abs-circuit" data-event="event-4" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p data-event="event-4"
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p data-event="event-4"
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                        </th:block>
                    </th:block>

                </ul>

            </li>
            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span>Пятница</span></div>
                <ul>
                    <th:block th:each="schedule : ${listSchedule}">
                        <th:block th:if="${schedule.weekdayId == 5}">
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 1}">
                                <a data-start="09:00" data-end="10:30"
                                   data-content="event-abs-circuit" data-event="event-2" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p data-event="event-2"
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p data-event="event-2"
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 2}">
                                <a data-start="10:40" data-end="12:10"
                                   data-content="event-abs-circuit" data-event="event-1" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p data-content="event-abs-circuit" data-event="event-1"
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p data-content="event-abs-circuit" data-event="event-1"
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 3}">
                                <a data-start="12:40" data-end="14:10"
                                   data-content="event-abs-circuit" data-event="event-4" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p data-content="event-abs-circuit" data-event="event-4"
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p data-content="event-abs-circuit" data-event="event-4"
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 4}">
                                <a data-start="14:20" data-end="15:50"
                                   data-content="event-abs-circuit" data-event="event-1" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                            <li class="cd-schedule__event" th:if="${schedule.lesson.id == 5}">
                                <a data-start="16:20" data-end="17:50"
                                   data-content="event-abs-circuit" data-event="event-2" href="#0">
                                    <em class="cd-schedule__name" th:text="${schedule.subject.nameSubject}">Abs
                                        Circuit</em>
                                    <p
                                       th:text="${schedule.typeLesson.nameType}"></p>
                                    <p
                                       th:text="${schedule.auditorium.numberAud}"></p>
                                </a>
                            </li>
                        </th:block>
                    </th:block>

                </ul>

            </li>
        </ul>
    </div>

    <div class="cd-schedule-modal">
        <header class="cd-schedule-modal__header">
            <div class="cd-schedule-modal__content">
                <span class="cd-schedule-modal__date"></span>
                <h3 class="cd-schedule-modal__name"></h3>
            </div>

            <div class="cd-schedule-modal__header-bg"></div>
        </header>

        <div class="cd-schedule-modal__body">
            <div class="cd-schedule-modal__event-info"></div>
            <div class="cd-schedule-modal__body-bg"></div>
        </div>

    </div>

    <div class="cd-schedule__cover-layer"></div>
</div> <!-- .cd-schedule -->
<div class="bg-danger text-white text-center h2" th:unless="${not #lists.isEmpty(listSchedule)}">
    Расписание для этой группы ещё не введено. Вернитесь позже!
</div>
<script src="../static/assets/js/util.js" th:src="@{/assets/js/util.js}"></script>
<!-- util functions included in the CodyHouse framework -->
<script src="../static/assets/js/main.js" th:src="@{/assets/js/main.js}"></script>
<div th:replace="fragments/footer ::scripts"></div>
</body>
</html>